/* ----------------------------------- */
/*          CUSTOM PROPERTIES          */
/* ------------------------------------*/

:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-56: 3.5rem;
    --fs-80: 5rem;
    --fs-100: 6.25rem;
    --fs-150: 9.375rem;
    --ff-barlow: 'Barlow Condensed', sans-serif;
    --ff-bellefair: 'Bellefair', serif;
}

/* ----------------------------------- */
/*                 RESET               */
/* ------------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/*
html {
     color-scheme: none !important; 
}
*/

/* Set core body defaults */
body {
    border-color: transparent;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--ff-bellefair);
    font-weight: 400;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------------------------------- */
/*            UTILITY CLASSES          */
/* ------------------------------------*/

.flex {
    display: flex;
    gap: var(--gap, 1em);
    flex-direction: column;
}

.grid {
    display: grid;
    gap: var(--gap, 1em)
}

.container {
    width: min(100% - 3rem, 80rem);
    padding-block: 1.5rem;
    margin-inline: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

/* colors */

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-accent {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-accent {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* typography */
.ff-barlow {
    font-family: var(--ff-barlow);
}

.ff-bellfair {
    font-family: var(--ff-bellefair);
}

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans-cond {
    font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
    font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.body-js {
    overflow-y: hidden;
}
/*--------------------------------------------*/
/* ----------------HOME PAGE----------------- */
/*--------------------------------------------*/
.home {
    background-image: url("./assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-collapse {
    opacity: 0.9;
    display: none;
    position: absolute;
    height: 100vh;
    right: 0;
    width: 67%;
    top: 2rem;
    transition: 0.4s;
    background-color: hsl(var(--clr-white) / .05);
    backdrop-filter: blur(.8rem);
}

.navbar-toggler {
    border: none;
    position: relative;
    background: none;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 1;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    cursor: pointer;
    outline: dashed hsl(var(--clr-light));
    outline-offset: .15em;
}

.close {
    position: relative;
    top: 0;
    left: 0;
}

.hide-icon-js {
    display: none;
}

.show-menu-js {
    display: block;
}

.nav-link {
    position: relative;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    outline: transparent;
    transition: all 500ms ease-in-out;
}

.nav-link:focus,
.nav-link:hover {
    border: transparent;
    outline: dashed hsl(var(--clr-light));
    outline-offset: .25em
}

.nav-link:hover:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: hsl(var(--clr-light));
    bottom: -2rem;
}

.nav-link:focus:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: hsl(var(--clr-white));
    bottom: -2rem;
}

.navbar-nav {
    padding-block-start: 5rem;
    padding-inline-start: 2rem;
    gap: 1.75rem;
}

.nav-item {
    font-size: var(--fs-16);
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-container {
    margin-block: 2.5rem;
}

.heading {
    text-align: center;
    font-size: var(--fs-16);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.heading span {
    font-size: var(--fs-80);
    line-height: 1.25;
}

.main-content {
    font-size: var(--fs-16);
    line-height: 1.7;
    text-align: center;
    font-weight: 400;
    max-width: 45ch;
    margin-inline: auto;
}

.btn {
    padding: 0 2em;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    font-size: 1.25rem;
    border-radius: 50%;
    border: none;
    font-weight: 400;
    margin-inline: auto;
    margin-block: 2.5rem;
    transition: all 500ms ease-in-out;
}

.btn:hover,
.btn:focus {
    box-shadow: 5px 5px 10px 55px hsl(var(--clr-white) / .15);
}

/*--------------------------------------------*/
/*------------   ENDING MOBILE----------------*/
/* ----------------HOME PAGE----------------- */
/*--------------------------------------------*/

/*--------------------------------------------*/
/* --------DESTINATION MOBILE PAGE----------- */
/*--------------------------------------------*/
.destination {
    background-image: url("./assets/destination/background-destination-mobile.jpg");
}

.dest-container {
    width: 100%;
}

.heading-dest {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.heading-dest span {
    font-size: var(--fs-16);
    color: hsl(var(--clr-white) / .25);
    font-weight: 700;
}

[role="tablist"] {
    padding: 0;
    text-align: center;
    margin-block-end: 1rem;
}

.tabbed {
    margin-block-start: 3rem;
}

.tab-image-container {
    margin-block: 2.5rem;
}

.tab-image {
    margin-inline: auto;
}

[role="tablist"] li,
[role="tablist"] a {
    display: inline-block;
}

[role="tablist"] li+li {
    padding-inline-start: .5rem;
}

[role="tablist"] a {
    font-family: var(--ff-barlow);
    font-size: var(--fs-14);
    text-decoration: none;
    padding: 0.5rem;
    color: var(--clr-white);
    text-decoration: none;
    text-transform: uppercase;
}

[role="tablist"] [aria-selected] {
    border: 2px solid hsl(var(--clr-light));
    position: relative;
}

[role="tabpanel"] {
    /* border: 2px solid; */
    padding: 1.5rem;
}

/* [role="tabpanel"] *+* {
   margin-top: 0.75rem; 
}*/

.tab-title {
    text-align: center;
    font-size: var(--fs-56);
    text-transform: uppercase;
}

.extras {
    border-top: 1px solid hsl(var(--clr-white));
    padding-top: 2rem;
    margin-top: 2rem;
}

*:focus {
    border: transparent;
    outline: dashed hsl(var(--clr-light));
    outline-offset: .25em;
    /* outline: none;
    box-shadow: inset 0 0 0 4px lightBlue;*/
}

.description {
    display: flex;
    flex-direction: column;
}

.description-value {
    font-size: var(--fs-28);
}

/*--------------------------------------------*/
/* ---DESTINATION MOBILE PAGE END ----------- */
/*--------------------------------------------*/

/*--------------------------------------------*/
/* ------CREW MOBILE PAGE START-------------- */
/*--------------------------------------------*/

.crew {
    background-image: url("./assets/crew/background-crew-mobile.jpg");
}

.crew [role="tablist"] a {
    background-color: hsl(var(--clr-light)/ .5);
    border-radius: 50%;
    padding: 0.35em;
}

.crew [role="tablist"] [aria-selected] {
    border: none;
    background-color: hsl(var(--clr-white));
}

/* .crew [role="tablist"] li+li {
   padding-inline-end: 0; 
}*/

.crew-tab-title {
    font-size: var(--fs-16);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: hsl(var(--clr-light) / .5);
}

.tab-sub-title {
    font-size: var(--fs-24);
    color: hsl(var(--clr-light))
}

/*--------------------------------------------*/
/* ------CREW MOBILE PAGE END  -------------- */
/*--------------------------------------------*/

/*--------------------------------------------*/
/* -----TECHNOLOGY MOBILE PAGE START ---------*/
/*--------------------------------------------*/
.tech {
    background-image: url("./assets/technology/background-technology-mobile.jpg");
}

.tech [role="tabpanel"] {
    padding: 0;

}

.tech [role="tablist"] a {
    background-color: inherit;
    border: 1px solid hsl(var(--clr-white));
    font-size: var(--fs-16);
    font-size: var(--ff-bellefair);
    font-weight: 400;
    border-radius: 50%;
    padding: 0.25em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech [role="tablist"] [aria-selected] {
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

.tech [role="tablist"] a:focus {
    background-color: hsl(var(--clr-white));
    border: 1px solid hsl(var(--clr-white));
    box-shadow: none;
}

.tech-tab-title {
    font-size: var(--fs-14);
    color: hsl(var(--clr-light) / 0.4);
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

/*--------------------------------------------*/
/* -----TECHNOLOGY MOBILE PAGE END------------*/
/*--------------------------------------------*/

@media screen and (min-width: 36.25rem) {
    .body-js {
        overflow-y: scroll;
    }
    .flex {
        flex-direction: row;
    }

    .btn {
        font-size: var(--fs-32);
        /* height: 15.125rem;
        width: 15.125rem; */
    }

    .home {
        background-image: url("./assets/home/background-home-tablet.jpg");
    }

    .main {
        justify-content: space-between;
        align-items: center;
        margin-block-start: 8rem;
        max-width: 69.375rem;
        margin-inline: auto;
    }

    .main-content {
        line-height: 1.75;
        max-width: 50ch;
    }

    .heading {
        font-size: 1.25rem;
        letter-spacing: 3.38px;
    }

    .heading span {
        font-size: var(--fs-150);
        line-height: 1.25;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: block;
        position: relative;
        background-color: hsl(var(--clr-light) / .04);
        padding-block: 2rem;
        height: auto;
        top: 0;
    }

    .navbar-nav {
        padding-block-start: 0;
        padding-inline: 2rem;
        justify-content: space-around;
    }

    .nav-item span {
        display: none;
    }

    /*--------------------------------------------*/
    /*------------   ENDING TABLET----------------*/
    /* ----------------HOME PAGE----------------- */
    /*--------------------------------------------*/

    /*--------------------------------------------*/
    /* ----DESTINATION TABLET PAGE START--------- */
    /*--------------------------------------------*/
    .destination {
        background-image: url("./assets/destination/background-destination-tablet.jpg");
    }

    .heading-dest span {
        font-size: var(--fs-20);
    }

    /*--------------------------------------------*/
    /* ----DESTINATION TABLET PAGE END  --------- */
    /*--------------------------------------------*/


    /*--------------------------------------------*/
    /* ------CREW TABLET PAGE START-------------- */
    /*--------------------------------------------*/

    .crew {
        background-image: url("./assets/crew/background-crew-tablet.jpg");
    }

    .crew-panel-content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .tab-sub-title {
        font-size: var(--fs-40);
    }

    /*--------------------------------------------*/
    /* ------CREW TABLET PAGE END  -------------- */
    /*--------------------------------------------*/

    /*--------------------------------------------*/
    /* -----TECHNOLOGY TABLET PAGE START ---------*/
    /*--------------------------------------------*/
    .tech {
        background-image: url("./assets/technology/background-technology-tablet.jpg");
    }

    .tech-tab-title {
        font-size: var(--fs-16);
    }

    /*--------------------------------------------*/
    /* -----TECHNOLOGY TABLET PAGE END------------*/
    /*--------------------------------------------*/
}

@media screen and (min-width: 61.25rem) {
    .home {
        background-image: url("./assets/home/background-home-desktop.jpg");
    }

    .container {
        padding-block: 2.5rem;
    }

    .btn {
        font-size: var(--fs-32);
        /* height: 17.125rem;
        width: 17.125rem; */
    }

    .nav-link {
        font-size: var(--fs-16);
    }

    .navbar-collapse::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 45%;
        background-color: hsl(var(--clr-light) / .04);
        left: -40%;
        top: 50%;
    }

    .main {
        display: flex;
        margin-block-start: 14rem;
    }

    .main-content {
        text-align: left;
        margin-inline-start: 0;
    }

    .heading {
        text-align: left;
        font-size: var(--fs-28);
    }

    .main-content {
        font-size: var(--fs-18);
        text-align: left;
    }

    /*--------------------------------------------*/
    /*------------   ENDING DESKTOP---------------*/
    /* ----------------HOME PAGE----------------- */
    /*--------------------------------------------*/

    /*--------------------------------------------*/
    /* --------DESTINATION DESKTOP PAGE---------- */
    /*--------------------------------------------*/
    .destination {
        background-image: url("./assets/destination/background-destination-desktop.jpg");
    }

    [role="tablist"] {
        text-align: left;
    }

    /* [role="tabpanel"] *+* {
      margin-top: 0; 
    }*/

    .panel-content-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .tab-title {
        text-align: left;
        font-size: var(--fs-100);
    }

    .extras-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .heading-dest span {
        font-size: var(--fs-28);
    }

    /*--------------------------------------------*/
    /* ----DESTINATION DESKTOP PAGE END --------- */
    /*--------------------------------------------*/


    /*--------------------------------------------*/
    /* ------CREW DESKTOP PAGE START------------- */
    /*--------------------------------------------*/

    .crew {
        background-image: url("./assets/crew/background-crew-desktop.jpg");
    }

    .crew-panel-content-wrapper {
        flex-direction: row-reverse;
    }

    .crew [role="tablist"] {
        padding-inline: 1.5rem;
        text-align: center;
    }

    .crew-tab-title {
        font-size: var(--fs-32);
    }

    .tab-sub-title {
        font-size: var(--fs-56);
    }

    .tab-divider {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*--------------------------------------------*/
    /* ------CREW DESKTOP PAGE END  ------------- */
    /*--------------------------------------------*/

    /*--------------------------------------------*/
    /* -----TECHNOLOGY DESKTOP PAGE START --------*/
    /*--------------------------------------------*/
    .tech {
        background-image: url("./assets/technology/background-technology-desktop.jpg");
    }

    .tech-tab-title {
        font-size: var(--fs-16);
    }

    .tech-container {
        padding-inline-start: 2.5rem;
    }

    /*--------------------------------------------*/
    /* -----TECHNOLOGY DESKTOP PAGE END-----------*/
    /*--------------------------------------------*/
}